<form action="/inicio">
  <!-- Image -->
  <div class="cont-form">
    <div class="form-outline mb-4 image">
      <div style="position: relative; width: 100%; height: 0; padding-top: 56.2225%;
        padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
        border-radius: 8px; will-change: transform;">
  <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAF-YUQ22C0&#x2F;CwPMV9Gnwi45wr36O9wBdw&#x2F;view?embed">
  </iframe>
</div>
  </div>
</div>
<div class="cont-form">
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Username</label>
    <input type="email" id="form2Example1" class="form-control" placeholder="Enter your username" />
  </div>
</div>
  <!-- Email input -->

  <div class="cont-form">
 <!-- Password input -->
 <div class="form-outline mb-4">
  <label class="form-label" for="form2Example2">Password</label>
  <input type="password" id="form2Example2" class="form-control" placeholder="Enter your password"/>
</div>
  </div>


  <!-- Submit button -->
  <div class="cont-btn">
    <button type="submit" class="btn btn-primary btn-block mb-4" >Log in</button>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <!-- Register buttons -->
  <div class="text-center">
    <p><a href="/registro">Sign in</a></p>
    <p><a href="#!">Forgot password?</a></p>
  </div>
</form>
