<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="/inicio" class="nav-link align-middle px-0">
                          <i class="fs-4 bi bi-house-door"></i> <span class="ms-1 d-none d-sm-inline">Go home</span>
                      </a>
                  </li>
                  <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi bi-filter-circle"></i> <span class="ms-1 d-none d-sm-inline">Filter Content</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                      <li class="w-100">
                        <a href="/contenido" class="nav-link px-0"> <span class="ms-1 d-none d-sm-inline">All</span></a>
                    </li>
                        <li class="w-100">
                            <a href="/stress" class="nav-link px-0"> <span class="ms-1 d-none d-sm-inline">Stress and anxiety</span></a>
                        </li>
                        <li class="w-100">
                          <a href="/breathing" class="nav-link px-0"> <span class="ms-1 d-none d-sm-inline">Breathing</span></a>
                      </li>
                      <li class="w-100">
                        <a href="/mental" class="nav-link px-0"> <span class="ms-1 d-none d-sm-inline">Mental strenghtening</span></a>
                    </li>
                    <li class="w-100">
                      <a href="/sleep" class="nav-link px-0"> <span class="ms-1 d-none d-sm-inline">Sleep QA</span></a>
                  </li>
                  <li class="w-100">
                    <a href="/growth" class="nav-link px-0"> <span class="ms-1 d-none d-sm-inline">Personal growth</span></a>
                </li>
                <li class="w-100">
                  <form action="/contenido"><button type="submit" class="btn btn-primary btn-block mb-4">Clear</button></form>
              </li>
                    </ul>
                </li>
                <li class="nav-item">
                  <a href="/contenido" class="nav-link align-middle px-0">
                      <i class="fs-4 fs-4 bi bi-camera-video-fill"></i> <span class="ms-1 d-none d-sm-inline">Video 1</span>
                  </a>
              </li>
                  <li class="nav-item">
                    <a href="/second" class="nav-link align-middle px-0">
                        <i class="fs-4 fs-4 bi bi-camera-video-fill"></i> <span class="ms-1 d-none d-sm-inline">Video 2</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="/third" class="nav-link align-middle px-0">
                      <i class="fs-4 fs-4 bi bi-camera-video-fill"></i> <span class="ms-1 d-none d-sm-inline">Video 3</span>
                  </a>
              </li>
              <li class="nav-item">
                <a href="/fourth" class="nav-link align-middle px-0">
                    <i class="fs-4 fs-4 bi bi-camera-video-fill"></i> <span class="ms-1 d-none d-sm-inline">Video 4</span>
                </a>
            </li>
            <li class="nav-item">
              <a href="/fifth" class="nav-link align-middle px-0">
                  <i class="fs-4 fs-4 bi bi-camera-video-fill"></i> <span class="ms-1 d-none d-sm-inline">Video 5</span>
              </a>
          </li>
          <li class="nav-item">
            <a href="/sixth" class="nav-link align-middle px-0">
                <i class="fs-4 fs-4 bi bi-camera-video-fill"></i> <span class="ms-1 d-none d-sm-inline">Video 6</span>
            </a>
        </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi bi-bell"></i> <span class="ms-1 d-none d-sm-inline">Notifications</span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                  </ul>
                  <hr>
                  <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi bi-gear"></i> <span class="ms-1 d-none d-sm-inline">Account</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                </ul>
              </div>
          </div>
      </div>
      <div class="col py-3">
        <div class="cont-log">
          <ul>
            <form action="/"><button type="submit" class="btn btn-danger btn-block mb-4"><i class="fs-8 bi bi-escape"></i> Log Out</button></form>

          </ul>
          </div>
          <h2 class="title">Consciente-te</h2>
          <div class="video">
            <div>
              <iframe width="100%" height="500" src="https://www.youtube.com/embed/5NYLyyKOadA?si=c51TTTSLvptmu72V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <div class="division">
                <div class="divi"><h3>Video 6</h3></div>
                <div class="divi barrier"></div>
                <div class="divi icon"><i class="bi bi-hand-thumbs-up"></i></div>
                <div class="divi icon"><i class="bi bi-hand-thumbs-down"></i></div>
              </div>
            </div>
          </div>
          <div class="division-video">
              <h1></h1>
          </div>
          <div class="video comments">
            <div>
              <div class="division comment">
                <div class="divi"><h3>Comments</h3></div>


              </div>
              <div class="division user-comment">
                <div class="divi icon"><i class="fs-1 bi bi-person-fill"></i></div>
                <div class="divi icon text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p></div>
              </div>
              <div class="division user-comment">
                <div class="divi icon"><i class="fs-1 bi bi-person-fill"></i></div>
                <div class="divi icon text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p></div>
              </div>

            </div>
          </div>
      </div>
  </div>
</div>
