.container-fluid{
  margin-top: -0.5rem;
  color: #053248;
}

.col-auto{
  color: #053248;
}

.dropdown{
  color: #053248;
}

.ms-1{
  color: #053248;
}

.fs-4{
  color: #053248;
}

.title{
  display: flex;
  justify-content: center;
  margin-top: -2rem;
  font-weight: bold;
}

.cont-log{
  text-align: right;
}

ul.navega li{
  display: inline;

}

.navega{
  margin-top: 2rem;
  margin-right: 3rem;
}

.menu{
  background: white;
  width: 33.333%;
  border: none;
}

.menu-active{
  background: #053248;
  width: 33.3333%;
  border: none;
  color: azure;
}

.menu:hover{
  background-color: #053248;
  color: azure;
}

hr{
  margin-top: 0.2rem;
}

.subtitle{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form-outline{
  margin-top: 1rem;
  margin-right: 15rem;
  margin-left: 15rem;
}

.form-control{
  padding: 1.5rem;
  min-width: 25rem;
  max-width: 70rem;
}

.share{
  display: flex;
  justify-content: center;
}

.btn-primary{
  width: 15rem;
}

.options{
  background: #f0f0f0;
  margin-left: -0.8rem;
  width: 100%;
}

.multimedia{
  background: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.4rem;
  margin-left: -2rem;
  width: 100%;
  margin-right: -3.5rem;
}

.multimedia:hover{
  background-color: #053248;
  color: azure;
}

.comments{
  margin: 10rem;
}

.label-control{
  display: flex;
  justify-content: center;
  min-width: 20rem;
}
