<form action="/">
  <div class="cont-form">
    <div class="form-outline mb-4">
      <div class="container">
        <h1 class="title">Sign in</h1>
      </div>
    </div>
  </div>
  <div class="cont-form">
    <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Name (*)</label>
    <input type="text" id="form2Example1" class="form-control" placeholder="Enter your name" />
  </div>
  </div>
  <div class="cont-form">
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Email (*)</label>
      <input type="email" id="form2Example2" class="form-control" placeholder="Enter your email"/>
    </div>
  </div>

  <div class="cont-form">
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password (*)</label>
      <input type="password" id="form2Example2" class="form-control" placeholder="Enter your password"/>
    </div>
  </div>

  <div class="cont-form">
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Confirm Password (*)</label>
      <input type="password" id="form2Example2" class="form-control" placeholder="Please confirm your password"/>
    </div>
  </div>
  <div class="cont-form">
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Address (*)</label>
      <input type="text" id="form2Example1" class="form-control" placeholder="Enter your address" />
    </div>
  </div>


  <!-- Submit button -->
  <div class="container">
    <button type="submit" class="btn btn-primary btn-block mb-4">Create Account</button>
  </div>
  <!-- 2 column grid layout for inline styling -->
  <!-- Register buttons -->
  <div class="text-center">
    <p><a href="/">Cancel</a></p>
  </div>
</form>
